html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.playground {
  background-color: yellowgreen;
  position: absolute;
  top: 9vh;
  border: 8px solid black;
}

.dirBtn {
  background-color: transparent;
  position: absolute;
  height: 100vh;
  width: 50vw;
  top: 0;
}

.left {
  left: 0;
}

.right {
  left: 50vw;
}

.snakePart {
  position: absolute;
  background-color: green;
  border: 1px solid black;
}

.food {
  position: absolute;
  background-color: red;
  border: 1px solid black;
}
